---
import ImageZoom from 'starlight-image-zoom/components/ImageZoom.astro'
import StarlightVideosMarkdownContent from 'starlight-videos/components/MarkdownContent.astro'
import NodeDoc from '../NodeDoc.astro'
import Default from '@astrojs/starlight/components/MarkdownContent.astro'
import type { Node } from '../../node-schema';

const isNodeDoc = Astro.locals.starlightRoute.id.startsWith('usage/node-graph/nodes/');
const nodeData = Astro.locals.starlightRoute.entry.data.node as Node;

---

<ImageZoom />
{isNodeDoc ? <Default><NodeDoc {...nodeData}><slot/></NodeDoc></Default>:
<StarlightVideosMarkdownContent><slot/></StarlightVideosMarkdownContent>
}

<hr style={{borderTop: "1px solid var(--color-gray-700)", margin: "20px 0"}}/>
<span style={{fontStyle: "italic", color: "var(--color-gray-400)"}}>All of our content is carefully written by hand, no AI was involved during the process.</span>